& {
  .with-mark {
    text-align: center;
    height: 200px;

    img {
      width: 60%;
    }
  }

  .regular {
    margin-top: 5.79em;
    img {
      height: 4.2em;
    }
    margin-bottom: 3.6em;
  }
}
