$base-font-family:      bebasNeueBold, Helvetica, sans-serif;
$base-text-color:       #F6F6F6;
$base-text-dark-color:  #0c0c0c;


$font-size-h1:          40px;
$font-size-h2:          32px;
$font-size-h3:          24px;
$font-size-h4:          22px;
$font-size-h5:          18px;
$font-size-h6:          16px;

$color-link:            #e9e9e9;
$color-link-hover:      #d1d2d3;
$link-underlined:       false;
$link-underlined-hover: true;
