{{#app-header}}About{{/app-header}}
{{#page-content}}
  <div class="row">
    <center>
      <br>
      Support:
      <a href="mailto:support@elite.fit">support@elite.fit</a>
      <br>
      Versie {{app-version hideSha=true}}
    </center>
  </div>
{{/page-content}}
