<div class="image">
  <img src="{{if currentUser.profile_picture currentUser.profile_picture " default.jpg "}}" class="img-circle" alt="User Image"> <img src="assets/icon-settings.png" class="settings-icon" />
</div>
<div class="info">
  <h3>{{currentUser.username}}</h3>
  <div class="info-table">

    <table class="top-table">
      <tr class="result">
        <td>02 nov 2016</td>
        <td>80,5 kg / 14%</td>
      </tr>
      <tr>
        <th>Lid sinds</th>
        <th>Gewicht / vet %</th>
      </tr>
    </table>
    <table class="bottom-table">
      <tr class="result">
        <td>3x per week</td>
        <td>Get toned</td>
      </tr>
      <tr>
        <th>Lidmaatschap</th>
        <th>Doel</th>
      </tr>
    </table>
  </div>
</div>
